@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --font-sans: "Inter", sans-serif;
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-background: #1a1a2e;
    --color-foreground: #ededed;
  }
}

body {
  color: var(--color-foreground);
  background: var(--color-background);
  font-family: var(--font-sans);
}

@utility full-bleed {
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

@utility unset-full-bleed {
  width: unset;
  margin-left: unset;
}
